<!-- Bootstrap Jumbotron -->
<div class="jumbotron">
	<h1>Form Example</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum vero eveniet, illo soluta, deserunt maiores ipsum. Quae nisi neque temporibus beatae nesciunt mollitia expedita assumenda. Nobis vitae rem, excepturi explicabo.</p>
	<br/>
</div>


<main class="form-example">
	<form novalidate (ngSubmit)="onSubmit(thisForm.valid, user)" #thisForm="ngForm">
		<div class="row">
			<div class="col-md-6">
				
				<div class="row vertical-center">
					<div class="col-sm-4 col-md-3 vertical-center-middle">
						<label for="firstName" [class.error]="!firstName.valid && (firstName.touched  || submitted)">First Name*</label>
						<span class="error-message">This is a required field</span>
					</div>
					<div class="col-sm-8 col-md-9">
						<input type="text" id="firstName" name="firstName" placeholder="Enter first name" required [(ngModel)]="user.firstName" #firstName="ngModel" [class.error]="!firstName.valid && (firstName.touched || submitted)" />
					</div>
				</div>

			</div>
			<div class="col-md-6">

				<div class="row vertical-center">
					<div class="col-sm-4 col-md-3 vertical-center-middle">
						<label for="lastName" [class.error]="!lastName.valid && (lastName.touched || submitted)">Last Name*</label>
						<span class="error-message">This is a required field</span>
					</div>
					<div class="col-sm-8 col-md-9">
						<input type="text" id="lastName" name="lastName"  placeholder="Enter last name" required [(ngModel)]="user.lastName" #lastName="ngModel" [class.error]="!lastName.valid && (lastName.touched || submitted)"/>
					</div>
				</div>
				
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
		
				<extended-input [labelText]="'E-mail'" [labelFor]="'email'" [isError]="!email.valid || someFormHandle.hasError('mismatchedStrings')">
					<input type="email" id="email" name="email"  placeholder="Enter email address" [ngFormControl]="email" [ngModel]="user.email" [class.error]="!email.valid && (email.touched || submitted)">
					<input-errors>
						<input-error class="help-block" *ngIf="email.hasError('required')" [class.error]="email.hasError('required') && (email.touched || submitted)">
							This is a required field
						</input-error>
						<input-error class="help-block" *ngIf="email.hasError('emailFormat')" [class.error]="email.hasError('emailFormat') && (email.touched || submitted)">
							This is not a valid email address
						</input-error>
						<input-error class="help-block" *ngIf="someFormHandle.hasError('mismatchedStrings')" [class.error]="someFormHandle.hasError('mismatchedStrings') && (email.touched || submitted)"> 
							The fields dont match
						</input-error>
					</input-errors>
				</extended-input>

			</div>
			<div class="col-md-6">

				<extended-input [labelText]="'Confirm E-mail'" [labelFor]="'confirmEmail'" [isError]="!confirmEmail.valid || someFormHandle.hasError('mismatchedStrings')">
					<input type="email" id="confirmEmail" name="confirmEmail" placeholder="Re-enter email address" [ngFormControl]="confirmEmail" [ngModel]="user.confirmEmail" [class.error]="!confirmEmail.valid && (confirmEmail.touched || submitted)">
					<input-errors>
						<input-error class="help-block" *ngIf="confirmEmail.hasError('required')" [class.error]="confirmEmail.hasError('required') && (confirmEmail.touched || submitted)">
							This is a required field
						</input-error>
						<input-error class="help-block" *ngIf="confirmEmail.hasError('emailFormat')" [class.error]="confirmEmail.hasError('emailFormat') && (confirmEmail.touched || submitted)">
							This is not a valid email address
						</input-error>
						<input-error class="help-block" *ngIf="someFormHandle.hasError('mismatchedStrings')" [class.error]="someFormHandle.hasError('mismatchedStrings') && (confirmEmail.touched || submitted)"> 
							The fields dont match
						</input-error>
					</input-errors>
				</extended-input>

			</div>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="row vertical-center">
					<div class="col-sm-4 col-md-3 vertical-center-middle">
						<label for="address1" [class.error]="!address1.valid && (address1.touched || submitted)">Address 1*</label>
						<span class="error-message">This is a required field</span>
					</div>
					<div class="col-sm-8 col-md-9">
						<input type="text" id="address1" name="address1" placeholder="Enter address 1" required [(ngModel)]="user.address1" #address1="ngModel" [class.error]="!address1.valid && (address1.touched || submitted)"/>
					</div>
				</div>
				
			</div>
			<div class="col-md-6">

				<div class="row vertical-center">
					<div class="col-sm-4 col-md-3 vertical-center-middle">
						<label for="address2">Address 2</label>
						<span class="error-message">This is a required field</span>
					</div>
					<div class="col-sm-8 col-md-9">
						<input type="text" id="address2" name="address2"  placeholder="Enter address 2" [(ngModel)]="user.address2"/>
					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="row vertical-center">
					<div class="col-sm-4 col-md-3 vertical-center-middle">
						<label for="postcode" [class.error]="!postcode.valid && (postcode.touched || submitted)">Postcode*</label>
						<span class="error-message">This is a required field</span>
					</div>
					<div class="col-sm-8 col-md-9">
						<input type="number" id="postcode" name="postcode" placeholder="Enter postcode" required [(ngModel)]="user.postcode" #postcode="ngModel" [class.error]="!postcode.valid && (postcode.touched || submitted)"/>
					</div>
				</div>

			</div>
			<div class="col-md-6">

				<div class="row vertical-center">
					<div class="col-sm-4 col-md-3 vertical-center-middle">
						<label for="state" [class.error]="!state.valid && (state.touched || submitted)">State*</label>
						<span class="error-message">This is a required field</span>
					</div>
					<div class="col-sm-8 col-md-9">
						<select name="state" id="state" name="state" required [(ngModel)]="user.state" #state="ngModel" [class.error]="!state.valid && (state.touched || submitted)">
							<option value="">State</option>
							<option *ngFor="let state of states" [value]="state">{{state}}</option>
						</select>
					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<ul class="list-checkboxes">
					
					<li class="checkbox">
						<label for="chk1">Opt in to recieve Newsletter 1</label>
						<input id="chk1" name="chk1" type="checkbox" [(ngModel)]="user.chk1">
						<span></span>
					</li>
					<li class="checkbox">
						<label for="chk" [class.error]="!chk.valid && (chk.touched || submitted)">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum delectus, mollitia beatae ullam officia nesciunt eum.</label>
						<div class="error-message">This is a required field</div>
						<input id="chk" name="chk" type="checkbox" [(ngModel)]="user.chk" required checkbox-validator ngControl="chk" #chk="ngForm" [class.error]="!chk.valid && (chk.touched || submitted)">
						<span></span>
					</li>
					<li class="checkbox">
						<label for="chk2">Opt in to recieve Newsletter 2</label> 
						<input id="chk2" name="chk2" type="checkbox" [(ngModel)]="user.chk2"><span></span>
					</li>
					<li class="checkbox">
						<label for="chk3" [class.error]="!chk3.valid && (chk3.touched || submitted)">I have read the <a href="#" data-toggle="modal" data-target="#footerModal">Terms and Conditions</a></label> 
						<div class="error-message">This is a required field</div>
						<input id="chk3" name="chk3" type="checkbox" [(ngModel)]="user.agreed" required checkbox-validator ngControl="chk3" #chk3="ngForm" [class.error]="!chk3.valid && (chk3.touched || submitted)">
						<span></span>
					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-6">
				<input type="submit" class="btn btn-primary pull-right" [disabled]="!thisForm.form.valid"/>
			</div>
		</div>

	</form>

</main>