//
// Form
// --------------------------------------------------

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
select {
	background-color: transparent;
	border: solid 1px #ccc;
	border-radius: 0;
	margin-bottom: 15px;
	padding: 15px;
	width: 100%;

	-webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;

  @include transition(all 0.3s);

  &.error {
  	border: solid 1px red;
  	color: red;
  }
}

select {
	background-image: url(../assets/images/ddl-arrow.svg);
	background-position: top 18px right 10px;
	background-repeat: no-repeat;
	background-size: 10px 10px;
	padding-right: 40px;
}

label {
	display: block;
	float: left;
	font-weight: normal;
	margin-bottom: 5px;

	@include transition(all 0.3s);

	@media(min-width: $screen-xs) {
		float: none;
		margin-bottom: 15px;
	}

	&.error {
		margin-bottom: 0;
	}
}

.error-message {
	color: red;
	display: block;
	float: right;
	max-height: 0px;

	@include font-size(1.2);
	@include opacity(0);
	@include transition(all 0.3s);

	@media(min-width: $screen-xs) {
		float: left;
	}
}

.error {
	&~.error-message {
		margin-bottom: 5px;
		max-height: 100px;

		@include opacity(1);

		@media(min-width: $screen-md) {
			margin-bottom: 15px;
		}
	}
}

.checkbox,
.radio {
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;

	label {
		display: inline-block !important;
		float: left;
		padding-left: 40px;
		position: relative;
		z-index: 1;
	}

	input {
		left: -20px;

		&:focus {
			color: red;

			& + span {
				border-color: #7fbbf9;
			}
		}

		&.error {
			& + span {
				border-color: red;
			}
		}
	}

	span {
		border: solid 1px $text-color;
		float: left;
		height: 18px;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 18px;

		&:before {
			content: "";
			position: absolute;

			@include transition(all 0.1s);
		}
	}

	.error-message {
		margin-bottom: 0px;
		padding-left: 40px;
		width: 100%;
	}
}

.checkbox {
	span {
		&:before {
			background: url(../assets/images/tick.svg);
			background-repeat: no-repeat;
    	background-size: 14px 14px;
    	background-position: top 1px left 1px;
			height: 18px;
			left: 0;
    	top: 0;
    	width: 0px;
		}
	}

	input[type=checkbox]{
		&:checked + span:before {
			width: 100%;
		}
	}
}

.radio {
	span {
		border-radius: 100%;

		&:before {
			background-color: $brand-primary;
			border-radius: 100%;
			height: 0;
	    left: 7px;
	    top: 7px;
	    width: 0;
		}
	}

	input[type=radio] {
		&:checked + span:before {
			height: 10px;
	    left: 3px;
	    top: 3px;
	    width: 10px;
		}
	}
}